header {
  border-bottom: solid gray .5px;
  font-size: 2rem;
  padding: 1rem;
}

main {
  padding: 1rem;
}

.progression {
  display: flex;
  justify-content: space-between;
}

.solving {
  display: flex;
  gap: 2rem;
}

.marks {
  width: 100%;
}

/* WIDTH */
.elo-progression, .proba-progression-p1 {
  width: 49%;
}

.proba-solving-p1, .proba-solving-p2 {
  width: 30%;
}

main img {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .progression, .solving {
    display: block;
  }

  .elo-progression, .proba-progression-p1, .proba-solving-p1, .proba-solving-p2 {
    width: 100%;
  }
}